.home {
    background-blend-mode: soft-light;
    background: var(--color-bg) url('../../assets/assets/bg.jpg');
}


.home img {
    width: 10rem;
}

.logo span{
    padding: 1.2rem 0;
    border: solid 2px;
}

.logo {
    margin: 2rem;
    font-size: 3rem;
}

.logo .primary {
    background-color: var(--color-primary);
    padding-left: 1rem;
    padding-right: 5px;
    border-top-left-radius: 2rem;
    border: solid 2px var(--color-primary);
    color: var(--color-bg);   
}

.logo .secondary {
    border: solid 2px var(--color-primary);
    padding-left: 5px;
    padding-right: 1rem;
    border-bottom-right-radius: 2rem;  
    color: var(--color-primary); 
}

@media screen and (max-width: 530px) {
    .home img {
        width: 8rem;
    }
}