.game {
    position: relative;
    background-blend-mode: soft-light;
    background: var(--color-bg) url('../../assets/assets/bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.pause, .timer {
    background-color: var(--color-primary-variant);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-bg);
}


.moves {
    font-size: 2rem;
    border: solid var(--color-primary-variant);
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    border-radius: 8px;
    background-color: var(--color-primary-variant);
    color: var(--color-bg);
}



header {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    width: 100%;
    /* position: absolute; */
    top: 0;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

main div {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    border-radius: 1rem;
}

.game-ended {
    background-blend-mode: soft-light;
    background: var(--color-bg) url('../../assets/assets/bg.jpg');
}

.game-ended h1 {
    font-size: 7rem;
    color: var(--color-primary);
}

.game-ended .star {
    font-size: 6rem;
    margin: 1rem;
}

.star.filled {
    color: #ffd700;
}

.star.unfilled {
    color: #c8bdbd;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-blend-mode: soft-light;
    background: var(--color-bg) url('../../assets/assets/bg.jpg');
    /* background-color: green; */
    background-size: cover;
    z-index: 10;
    border-radius: 0;
    /* border: solid; */
}

.overlay h1 {
    font-size: 6rem;
    color: var(--color-primary);
}

@media screen and (max-width: 530px) {

    main {
        grid-template-columns: repeat(5, 1fr);
    }
    main div {
        width: 7rem;
        height: 7rem;
    }

    .overlay h1, .game-ended h1 {
        font-size: 4rem;
    }

    .pause, .timer {
        width: 2rem;
        height: 2rem;
        font-size: 1.6rem;
        padding: 2rem;
    }

    .overlay {
        width: 100vw;
        height: 100vh;
    }

    .moves {
        padding: 1.2rem;
        font-size: 1.7rem;
    }
}


@media screen and (max-width: 400px) {

    main {
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
    }
    main div {
        width: 6rem;
        height: 6rem;
    }
}